:root {
  color-scheme: light dark;
  background-color: hsl(0, 0%, 90%);
}

* {
  box-sizing: border-box;
}

a {
  color: #0367d8;
}

body {
  font-family: system-ui;
  margin: calc(2em + 2ex) auto;
  max-width: calc(30 * (1em + 1ex));
  padding: 0 calc(1em + 1ex);
}

p {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

textarea {
  width: 100%;
}

select,
textarea {
  font-size: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: hsl(214, 13%, 10%);
    color: hsl(214, 13%, 90%);
  }
}
